<div class="relative bg-212121 w-full mx-auto px-2 lg:px-5 xl:px-16 sm:flex items-center justify-center gap-6">
  <div class="z-10 w-full sm:w-2/3 py-5 lg:py-10">
    <!-- section title -->
    <h1
      class="text-white capitalize font-normal text-lg/tight sm:text-2xl/tight lg:text-3xl/tight xl:text-6xl/tight">
      A Global Ecosystem of Diamond Buyers & Sellers</h1>

    <p class="text-aaa text-xs sm:text-sm lg:text-lg font-normal mt-4">A Global Gemstone Marketplace That Empowers Your Business Founded in 2017 and headquartered in Hong Kong, our gemstone platform connects thousands of gem suppliers and jewellery retailers worldwide. With over 1,500 registered partners, we offer seamless access to 700,000+ natural gemstones and 150,000+ lab-grown gems through a single, trusted portal.</p>
  </div>
  <div class="w-full sm:w-1/3 md:w-1/2 text-center hidden sm:block">
    <img class="w-1/2 h-full mx-auto" src="/assets/images/home/gemstone1.png" alt="About Us">
  </div>
  <div class="absolute inset-y-0 right-0 w-auto text-center sm:hidden opacity-25">
    <img class="w-1/2 h-full mx-auto" src="/assets/images/home/gemstone1.png" alt="About Us">
  </div>
</div>
<app-what-we-do></app-what-we-do>
<app-why-choose-us></app-why-choose-us>
<app-stpes-to-join></app-stpes-to-join>
<app-request-demo></app-request-demo>
