<div class="w-full mx-auto py-5 lg:py-8 px-2 lg:px-5 xl:px-16">
  <div class="border border-9e9999 rounded-2xl overflow-hidden">
    <div class="p-4 bg-f4f4f4">
      <p class="text-lg lg:text-xl font-normal text-5c5a5a"><span class="font-bold text-323232">Product Details : </span>Ruby
        Diamond - 5.40 Carats</p>
    </div>
    <div class="p-4 sm:px-8 sm:py-4">
      <p class="text-sm sm:text-base lg:text-lg font-normal text-767676">This magnificent Ruby Diamond weighs 5.4 carats and features a
        sophisticated octagonal cut. Its rich, intensely saturated yellow hue exudes rarity and brilliance. Boasting
        eye-clean clarity and an enchanting luster, the Sapphire radiates timeless beauty. </p>

      <!-- Wrapper -->
      <div class="border border-9d9d9d rounded-2xl mt-4 sm:mt-6 overflow-hidden">

        <!-- Desktop Table view -->
        <div class="hidden md:block overflow-x-auto">
         <table cellpaddding="0" cellSpacing="0"
          class="detailsTable w-full text-[17px] font-medium text-868282 border-separate">
          <tbody>
            <tr>
              <td class="text-323232 font-semibold">Gemstone</td>
              <td>:</td>
              <td class="text-868282">Red Ruby</td>

              <td class="text-323232 font-semibold">Dimension</td>
              <td>:</td>
              <td>Not Calibrated</td>
            </tr>
            <tr class="bg-efeeee">
              <td class="text-323232 font-semibold">Certification</td>
              <td>:</td>
              <td>IGITL Certified</td>

              <td class="text-323232 font-semibold">Carat</td>
              <td>:</td>
              <td>5.4</td>
            </tr>
            <tr>
              <td class="text-323232 font-semibold">Return Policy</td>
              <td>:</td>
              <td>10 Day Money- Back</td>

              <td class="text-323232 font-semibold">Cut</td>
              <td>:</td>
              <td>Faceted</td>
            </tr>
            <tr class="bg-efeeee">
              <td class="text-323232 font-semibold">Exact Dimension</td>
              <td>:</td>
              <td>11.21x8.01x5.22 mm</td>

              <td class="text-323232 font-semibold">Composition</td>
              <td>:</td>
              <td>Natural</td>
            </tr>
            <tr>
              <td class="text-323232 font-semibold">Refractive index</td>
              <td>:</td>
              <td>1.760 - 1.770</td>

              <td class="text-323232 font-semibold">Color</td>
              <td>:</td>
              <td>Yellow</td>
            </tr>
            <tr class="bg-efeeee">
              <td class="text-323232 font-semibold">Treatment</td>
              <td>:</td>
              <td>Unheated & Untreated</td>

              <td class="text-323232 font-semibold">Specific Gravity</td>
              <td>:</td>
              <td>4</td>
            </tr>
            <tr>
              <td class="text-323232 font-semibold">Shape</td>
              <td>:</td>
              <td>Octagonal</td>

              <td class="text-323232 font-semibold">Weight (ratti)</td>
              <td>:</td>
              <td>6</td>
            </tr>
            <tr class="bg-efeeee">
              <td class="text-323232 font-semibold">Shape</td>
              <td>:</td>
              <td>Octagonal</td>

              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
        </div>

        <!-- Mobile Card View -->
        <div class="block md:hidden text-xs sm:text-sm">
          <div class="px-2 py-3 flex justify-between">
            <span class="font-semibold text-323232">Gemstone :</span>
            <span class="text-868282">Red Ruby</span>
          </div>
          <div class="px-2 py-3 flex justify-between bg-efeeee">
            <span class="font-semibold text-323232">Dimension : </span>
            <span>Not Calibrated</span>
          </div>
          <div class="px-2 py-3 flex justify-between">
            <span class="font-semibold text-323232">Certification</span>
            <span>IGITL Certified</span>
          </div>
          <div class="px-2 py-3 flex justify-between bg-efeeee">
            <span class="font-semibold text-323232">Carat</span>
            <span>5.4</span>
          </div>
          <div class="px-2 py-3 flex justify-between">
            <span class="font-semibold text-323232">Return Policy</span>
            <span>10 Day Money-Back</span>
          </div>
          <div class="px-2 py-3 flex justify-between bg-efeeee">
            <span class="font-semibold text-323232">Cut</span>
            <span>Faceted</span>
          </div>
          <div class="px-2 py-3 flex justify-between">
            <span class="font-semibold text-323232">Exact Dimension</span>
            <span>11.21x8.01x5.22 mm</span>
          </div>
          <div class="px-2 py-3 flex justify-between bg-efeeee">
            <span class="font-semibold text-323232">Composition</span>
            <span>Natural</span>
          </div>
          <div class="px-2 py-3 flex justify-between">
            <span class="font-semibold text-323232">Refractive index</span>
            <span>1.760 - 1.770</span>
          </div>
          <div class="px-2 py-3 flex justify-between bg-efeeee">
            <span class="font-semibold text-323232">Color</span>
            <span>Yellow</span>
          </div>
          <div class="px-2 py-3 flex justify-between">
            <span class="font-semibold text-323232">Treatment</span>
            <span>Unheated & Untreated</span>
          </div>
          <div class="px-2 py-3 flex justify-between bg-efeeee">
            <span class="font-semibold text-323232">Specific Gravity</span>
            <span>4</span>
          </div>
          <div class="px-2 py-3 flex justify-between">
            <span class="font-semibold text-323232">Shape</span>
            <span>Octagonal</span>
          </div>
          <div class="px-2 py-3 flex justify-between bg-efeeee">
            <span class="font-semibold text-323232">Weight (ratti)</span>
            <span>6</span>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
