<div class="w-full mx-auto py-5 lg:py-8 px-2 lg:px-5 xl:px-16 flex flex-col items-center justify-center">
  <!-- section title -->
  <h5 class="text-center capitalize text-141313 font-normal text-lg/tight sm:text-2xl/tight lg:text-3xl/tight xl:text-6xl/tight">
    Why Sparkals</h5>

  <div class="w-full sm:flex items-center gap-4 mt-6 lg:mt-12">
    <!-- why us text -->
    <div class="px-3 lg:p-6 w-full sm:w-1/2">
      <p class="font-normal font-marcellus capitalize text-000000b2 text-sm sm:text-lg md:text-xl lg:text-2xl xl:text-4xl mb-3 lg:mb-7">Diamond Trade</p>
      <p class="text-0000009e text-xs sm:text-sm lg:text-lg font-normal">At SPARKALS, we connect
        verified buyers with global diamond suppliers through a single, powerful digital platform. Whether you're a
        retailer looking to expand your inventory or a wholesaler serving multiple clients, our tools simplify sourcing,
        pricing, and sales.</p>
      <ul class="list-disc pl-5 space-y-1 lg:space-y-2 text-0000009e text-xs sm:text-sm lg:text-lg font-normal mt-3 lg:mt-5">
        <li>Access to 2,00,000+ Live Certified Stones.</li>
        <li>Only Verified Suppliers.</li>
        <li>Global Shipping &amp; Order Tracking.</li>
        <li>Dealer Pricing &amp; Profit-Friendly Margins.</li>
      </ul>
    </div>

    <!-- why us image -->
    <div class="p-3 lg:p-6 w-full sm:w-1/2 mt-3 sm:mt-0">
      <img class="w-full h-full rounded-lg shadow-lg" src="/assets/images/home/why-sparkals.png" alt="Why Sparkals">
    </div>
  </div>

</div>
