<div class="w-full">
  <div class="w-full mx-auto py-5 lg:py-8 px-2 lg:px-5 xl:px-16 bg-22b36a36 sm:flex items-center justify-center gap-6">
    <div class="w-full sm:w-3/5">
      <p
        class="font-marcellus capitalize text-323232 font-normal text-lg/tight sm:text-lg/tight lg:text-xl/tight xl:text-[40px]/tight">
        Exclusive Designs, Tips & Offers — Just for You</p>
      <p class="text-323232 font-normal text-xs sm:text-sm lg:text-base xl:text-lg mt-2">Let your inbox glow with
        elegance. Discover
        jewelry news and treasures every month.</p>
    </div>

    <div class="w-full sm:w-2/5 mt-4 sm:mt-0">
      <div class="flex items-center gap-2">
        <div class="relative flex-1">
          <input type="text"
            class="block px-2.5 pb-2 pt-4 w-full text-sm md:text-[15px] text-323232 bg-white rounded-lg border-1 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-323232 peer"
            placeholder=" " />
          <label
            class="absolute text-sm text-0000009e duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white  px-2 peer-focus:px-2  peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">Enter
            Your Email</label>
        </div>
        <button
          class="cursor-pointer bg-141313 text-white px-3 lg:px-6 py-2.5 font-normal rounded-md hover:scale-100 capitalize text-sm md:text-base w-auto">Sign
          Up</button>
      </div>
      <p class="text-323232 font-normal text-xs sm:text-sm mt-2">By clicking Sign Up you're confirming that you agree
        with
        our <a routerLink="/terms-and-conditions" class="cursor-pointer underline">Terms and Conditions</a>.</p>
    </div>
  </div>
</div>
