<div class="w-full mx-auto py-5 lg:py-8 px-2 lg:px-5 xl:px-16">
  <div class="w-full sm:flex items-center justify-between gap-4">
    <!-- offer image 1 -->
    <div class="w-full sm:w-1/2 mb-4 sm:mb-0">
      <a routerLink="" class="block cursor-pointer w-full">
        <img src="/assets/images/home/diamond-offer.png" alt="Diamond Offer" class="w-full h-auto rounded-lg shadow-lg">
      </a>
    </div>
      <!-- offer image 2 -->
    <div class="w-full sm:w-1/2">
      <a routerLink="" class="block cursor-pointer w-full">
        <img src="/assets/images/home/jewellery-offer.png" alt="Jewellery Offer"
          class="w-full h-auto rounded-lg shadow-lg">
      </a>
    </div>
  </div>
</div>
